/* light theme */
.theme-light {
  --primary-color: #8cc9ff;
  --on-primary-color: #333;
  --secondary-color: #7886ff;
  --on-secondary-color: #333;
  --background-color: #f5f5f5;
  --on-background-color: #222;
  --surface-color: #ddd;
  --on-surface-color: #000;
  --outline-color: #333;
  --outline-variant-color: #666;
}

/* dark theme */
.theme-dark {
  --primary-color: #000e3f;
  --on-primary-color: #ddd;
  --secondary-color: #000eaf;
  --on-secondary-color: #ddd;
  --background-color: #050505;
  --on-background-color: #ddd;
  --surface-color: #222;
  --on-surface-color: #ddd;
  --outline-color: #ddd;
  --outline-variant-color: #aaa;
}
